<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body>
  <br>

    <a href='/home' class="btn btn-outline-primary ml-5" role="button">Enter Locations</a>
    <center>
      <div class="title">
        <h1>
          <span class="border border-primary" style="padding: 10px; border-radius: 15px;">
            <span style='color: #09BDBD'>C</span>
            <span style='color: #09BD69'>o</span>
            <span style='color: #09BD3F'>s</span>
            <span style='color: #09BD15'>t</span>
            <span style='color: grey'>-</span>
            <span style='color: #39BD09'>G</span>
            <span style='color: #6FBD09'>o</span>
          </span>
        </h1>
        <br>
        <p>Your <b>Cost</b> calculating <b>Go</b> to App!</p>
      </div>
    </center>
      <br>
      <br>

    <div class="container"> <!-- container -->
      <div class="card-deck"> <!-- start deck -->
        <% @data['routes'].each do |k| %>
          <% k['legs'].each do |i, v| %>

            <div class="card bg-info border-danger"> <!-- start card -->
              <img src="images/directions.png" class="card-img-top mx-auto d-block" alt="directions" style="height=250px; width:250px;">
                <div class="card-body">
                <%# <div class="shadow p-3 mb-5 bg-white rounded"> %>
                  <h5 class="card-title shadow w-80 p-3">Distance and Time</h5>
                  <%# </div> %>
                    <p class="card-text" style="color: white;">Starting: <%= i['start_address'] %></p>
                    <p class="card-text" style="color: white;">Ending: <%= i['end_address'] %></p>
                    <p class="lead" style="color:white;"><%= i['distance']['text'] %> | <%= i['duration']['text'] %></p>
                </div>

                <div class="card-footer">
                  <%# <<small class="text-muted">Last updated 3 mins ago</small>> %>
                </div>

            </div> <!-- end card -->

            <div class="card bg-warning border-primary"> <!-- start card2 -->
              <img src="images/transportation.png" class="card-img-top mx-auto d-block" alt="directions" style="height=250px; width:250px;">
                <div class="card-body">
                  <h5 class="card-title">Fare Cost</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>

                <div class="card-footer">
                  <%# <small class="text-muted">Last updated 3 mins ago</small> %>
                </div>

              </div> <!-- end card2 -->

            <div class="card bg-danger border-info"> <!-- start card3 -->
              <img src="images/directions.png" class="card-img-top mx-auto d-block" alt="directions" style="height=250px; width:250px;">
              <div class="card-body">
                <h5 class="card-title" style="color: black;">Card title</h5>
                <p class="card-text" style="color: black;">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              
              <div class="card-footer">
                <%# <small class="text-muted">Last updated 3 mins ago</small> %>
              </div>
              
            </div> <!-- end card3 -->

          </div> <!--end card deck -->
        <% end %>
    <% end %>
</div> <!-- end container -->




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html> 

<style>
  body {
    background-image: url("images/prism.png")
  }

  b {
    color: #5090EF;
  }

  .title {
    btn-outline-primary;
  }

  .jumbotron {
    background-image: url("images/seigaiha.png");
  }

  .card-title {
    text-align: center;
  }

  h1 {
    text-align:center;
    text-decoration: underline;
    text-decoration-color: purple;
  }

  p {
    text-align: center;
    color: #3B8CAF;
  }

  h2 {
    text-align: center;
  }


</style>