<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body>
  <br>
    <center>
      <div class="title">
        <h1>
          <span style='color: blue'>C</span>
          <span style='color: red'>o</span>
          <span style='color: green'>s</span>
          <span style='color: purple'>t</span>
          <span style='color: grey'>-</span>
          <span style='color: orange'>G</span>
          <span style='color: #1C68D9'>o</span>
        </h1>
        <p>Your <b>Cost</b> calculating <b>Go</b> to App!</p>
      </div>
    </center>
    <br>
    <br>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Distance and Time</h1>      
      <% @data['routes'].each do |k| %>
        <% k['legs'].each do |i, v| %>
          <p class="lead1">Starting: <%= i['start_address'] %></p>
          <p class="lead1">Ending: <%= i['end_address'] %></p>
          <br>
          <p class="lead"><%= i['distance']['text'] %> | <%= i['duration']['text'] %></p>
        <% end %>
      <% end %>
    </div>
  </div>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html> 

<style>
  body {
    background-color: #1CD9B4; 
  }

  b {
    color: green;
  }

  .title {
    border: dashed;
    border-color: blue red green yellow;
    border-radius: 5px 20px 5px 20px;
    width: 250px;
  }

  .jumbotron {
    background-color: yellow;
  }

  h1 {
    text-align:center;
    text-decoration: underline;
    text-decoration-color: purple;
  }

  p {
    text-align: center;
  }

  h2 {
    text-align: center;
  }


</style>